<div class="detail-sections">
    <div class="detail-section">
        <h5>Système</h5>
        <div class="detail-grid">
            <div>Étanche: <input type="checkbox" id="waterproof" disabled></div>
            <div>Status: <select id="status" class="detail-input" disabled>
                    <option value="-1">Hors service</option>
                    <option value="0">En maintenance</option>
                    <option value="1">Opérationnel</option>
                </select></div>
            <div>Support de PIX: <input type="checkbox" id="pix" disabled></div>
            <div>Marquage C5/C6: <input type="checkbox" id="ce" disabled></div>
        </div>
    </div>

    <div class="detail-section">
        <h5>Configuration Radio</h5>
        <div class="detail-grid">
            <div>IP: <input type="text" id="ip" class="detail-input" disabled></div>
            <div>Mesh: <input type="text" id="mesh" class="detail-input" disabled></div>
            <div>Clé de chiffrement: <input type="password" id="password" class="detail-input" disabled>
                <button id="toggle-password" class="btn-action"><i class="bi bi-eye"></i></button>
            </div>
            <div>Type de chiffrement: <select id="aes" class="detail-input" disabled>
                    <option value="0">Aucun</option>
                    <option value="1">AES-128</option>
                    <option value="2">AES-256</option>
                </select></div>
            <div>Modèle: <input type="text" id="model" class="detail-input" disabled></div>
            <div>Plage de fréquences: <input type="text" id="frequency" class="detail-input" disabled></div>
        </div>
    </div>

    <div class="detail-section">
        <h5>Payload</h5>
        <div class="detail-grid">
            <div>Encodeur: <input type="checkbox" id="encoder" disabled></div>
            <div>Caméra EO: <input type="checkbox" id="eo" disabled></div>
            <div>Caméra IR: <input type="checkbox" id="ir" disabled></div>
            <div>Carte SD: <input type="checkbox" id="sd" disabled></div>
            <div>Version encodeur: <input type="text" id="encoder-version" class="detail-input" disabled></div>
            <div>Infos EO: <input type="text" id="eo-info" class="detail-input" disabled></div>
            <div>Infos IR: <input type="text" id="ir-info" class="detail-input" disabled></div>
            <div>Montage payload: <input type="checkbox" id="payload-mount" disabled></div>
        </div>
    </div>
</div>