<div class="detail-sections">
    <div class="detail-section">
        <h5>Système</h5>
        <div class="detail-grid">
            <div>Étanche: <input type="checkbox" id="waterproof" disabled></div>
            <div>Status: <span id="status"></span></div>
            <div>Support de PIX: <input type="checkbox" id="pix" disabled></div>
            <div>Marquage C5/C6: <input type="checkbox" id="ce" disabled></div>
        </div>
    </div>

    <div class="detail-section">
        <h5>Configuration Radio</h5>
        <div class="detail-grid">
            <div>IP: <span id="ip"></span></div>
            <div>Mesh: <span id="mesh"></span></div>
            <div>Clé de chiffrement: <input type="password" id="password" disabled>
                <button id="toggle-password" class="btn-action">*</button>
            </div>
            <div>Type de chiffrement: <span id="aes"></span></div>
            <div>Modèle: <span id="model"></span></div>
            <div>Plage de fréquences: <span id="frequency"></span></div>
        </div>
    </div>

    <div class="detail-section">
        <h5>Payload</h5>
        <div class="detail-grid">
            <div>Encodeur: <input type="checkbox" id="encoder" disabled></div>
            <div>Caméra EO: <input type="checkbox" id="eo" disabled></div>
            <div>Caméra IR: <input type="checkbox" id="ir" disabled></div>
            <div>Carte SD: <input type="checkbox" id="sd" disabled></div>
            <div>Version encodeur: <span id="encoder-version"></span></div>
            <div>Infos EO: <span id="eo-info"></span></div>
            <div>Infos IR: <span id="ir-info"></span></div>
            <div>Montage payload: <span id="payload-mount"></span></div>
        </div>
    </div>
</div>