<!-- Drone card template -->
<div class="drone-card">
    <div class="drone-card-main-row">
        <div class="drone-card-left">
            <div class="drone-card-name-row">
                <div class="drone-name"></div>
                <div class="drone-status"></div>
            </div>
            <div class="drone-ready-to-fly">Prêt à voler !</div>
        </div>
        <img src="http://localhost:5000/static/img/drone_logo.png" alt="Drone image" height="42" />
    </div>

    <div class="drone-card-main-info-grid">
        <div class="drone-radio-mesh"><span class="label">Mesh:</span> <span class="value"></span></div>
        <div class="drone-radio-ip"><span class="label">IP:</span> <span class="value"></span></div>
        <div class="drone-radio-waterproof"><span class="label">Étanche:</span> <input type="checkbox" class="value"
                disabled /></div>
        <div class="drone-radio-waterproof"><span class="label">Carte SD Z3:</span> <input type="checkbox" class="value"
                disabled /></div>
    </div>

    <div class="drone-details"></div>

    <div class="drone-card-actions">
        <button class="btn-action btn-flights">Vols</button>
        <button class="btn-action btn-operations">Opérations</button>
        <button class="btn-action btn-details">Détails</button>
    </div>
</div>